<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bahrain Car Directory</title>
  </head>

  <body>
    <h1>Welcome to the Bahrain Car Directory!</h1>
    <img class="car" src="/assets/car.png" alt="a phonebook directory" />
    <p>A simple directory where users can browse different types of cars in Bahrain.</p>
    
    <a class="businesses-index-link" href="/cars">
      <div class="index-link-text">Browse Cars</div>
    </a>
  </body>

  <footer>
    Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a>
  </footer>

</html>